* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, rgb(2, 2, 41), rgb(68, 66, 66));
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    padding-bottom: 1.2em;
}

.container {
    margin: 5em auto;
    max-width: 400px;
    aspect-ratio: 1/1.2;
    display: grid;
    align-items: center;
    padding: 2em;
    border-radius: 1em;
    position: relative;
}

.theme {
    position: absolute;
    right: 1.5em;
    top: 1.2em;
    cursor: pointer;
}

.input {
    margin-bottom: 1em;
}

.input input {
    width: 100%;
    border: none;
    outline: none;
    background-color: inherit;
    border-bottom: 2px solid grey;
    font-size: 1.3em;
}

.convert {
    font-size: 2em;
}

#convert {
    width: 8em;
    height: 2em;
}

.convertBtn {
    margin-top: 3em;
    background-color: inherit;
    color: grey;
    outline: none;
    border: 1px solid grey;
    width: 10em;
    height: 5em;
    cursor: pointer;
}

.convertBtn:hover {
    background-color: grey;
    color: black;
}

.output {
    padding: 1em 0;
    font-size: 1.8em;
}

.dark {
    background-color: rgb(2, 2, 41);
    color: white;
}

.light {
    background-color: white;
    color: rgb(2, 2, 41);
}

/*@media screen and (min-width:360px) {
    .container {
        margin: 5em auto;
        max-width: 350px;
        aspect-ratio: 1/1.1;
        display: grid;
        align-items: center;
        padding: 2em;
        border-radius: 1em;
    }
}

@media screen and (min-width:768px) {
    .container {
        margin: 5em auto;
        max-width: 700px;
        aspect-ratio: 1/1.2;
        display: grid;
        align-items: center;
        padding: 2em;
        border-radius: 1em;
    }
}

@media screen and (min-width:1024px) {
    .container {
        margin: 5em auto;
        max-width: 900px;
        aspect-ratio: 1/1.2;
        display: grid;
        align-items: center;
        padding: 2em;
        border-radius: 1em;
        font-size: 2em;
    }
}